body {
  font-family: 'Tangerine', serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  box-sizing: border-box;
}




.img {
  height: 90vh;
  width: 100%;
  top: 0;

}



.card-img {
  position: absolute;
}

.btn-primary {
  position: relative;
}

.section {
  background-color: #f7f7f7;
}

.welcome {
  text-align: center;
  color: rgb(5, 6, 112);
  text-transform: uppercase;
  font-family: 'Tangerine', serif;
  font-weight: 400;
  


}



.card-title {
  color: rgb(5, 6, 112);
}

h5 {
  color: #fff;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #2999ff;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
}

.form__input:placeholder-shown+.form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.footer-form {
  color: #ffffff !important;
}

.ess {
  height: 20rem;
  width: 20rem;
}

.logo {
  width: 19rem !important;
  height: 18rem !important;
  border: rgb(5, 6, 112) solid 4px;
  border-radius: 50%;
}

@media only screen and (max-width: 56.25em) {
  .logo {
    width: 19rem !important;
    height: 18rem !important;
  }
}




.input-field {
  font-size: 1.5rem;
  font-family: inherit;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  background: transparent;
  border: #999 solid 1px;
  width: 90%;
  transition: all .3s;
  margin: 2px;
}

.light-rounded-buttons ul li {
  display: inline-block;
  margin-left: 18px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .light-rounded-buttons ul li {
    margin-left: 0;
  }
}

.light-rounded-buttons ul li:first-child {
  margin-left: 0;
}

.light-rounded-buttons .main-btn {
  border-radius: 5px;
}

.light-rounded-buttons .light-rounded-one {
  border-color: rgb(5, 6, 112);
}

.light-rounded-buttons .light-rounded-one:hover {
  color: rgb(5, 6, 112);
  background-color: rgba(0, 103, 244, 0.4);
}

.light-rounded-buttons .light-rounded-two {
  color: #fff;
  background-color: rgb(5, 6, 112);
  border-color: rgb(5, 6, 112);
}

.light-rounded-buttons .light-rounded-two:hover {
  color: rgb(5, 6, 112);
  background-color: transparent;
}

.main-btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid transparent;
  padding: 0 32px;
  font-size: 16px;
  line-height: 46px;
  color: rgb(5, 6, 112);
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  position: relative;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .main-btn {
    font-size: 14px;
    padding: 0 20px;
    line-height: 40px;
  }
}






.heading {
  background: rgb(5, 6, 112);
  color: #fff;
  font-weight: 800;
}

.slider{
  margin-top: 100px;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
  font-size: 2rem !important;
}

@media only screen and (max-width: 56.25em) {
  .slick-prev:before, .slick-next:before {
    font-size: 1.5rem !important;
  }
}

.responsibility {
  font-size: 1.2rem !important;
  padding: 2.5rem;
  background: rgb(231, 227, 227);
  text-align: left;
}

@media only screen and (max-width: 56.25em) {
  .responsibility {
      padding: 2rem;
  }
}

.responsibility__icon {
  font-size: 6rem;
  margin-bottom: .5rem;
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  
}

@media only screen and (max-width: 56.25em) {
  .responsibility__icon {
      margin-bottom: 0;
  }
}

.post .post-preview img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.post .post-preview video {
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.post .post-preview .video-wrapper {
  padding-top: 56.25% !important;
}

.post .post-preview .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.post .post-preview .tag {
  position: absolute;
  top: 15px;
  left: 30px;
  z-index: 1;
}

.post .post-content {
  margin: -50px 15px 0px;
  height: 10.2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: rgb(5, 6, 112) !important;
  color: #fff;
}

.post .post-content .post-meta li {
  font-size: 13px;
}

.post .post-content .post-meta li:last-child {
  margin-right: 0;
}

.post .post-content .post-title {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.post .news-title {
  font-size: 25px;
  font-weight: 700;
  color: rgb(5, 6, 112);
  text-transform: uppercase;
}

.post .post-content h4 {
  line-height: 24px;
  
}

.post .post-content a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


.post .post-content a i {
  font-size: 13px;
}

.post .post-content a:hover {
  color: #fff !important;
}



.post .page-title {
  font-size: 10rem !important;

}






























